/**
 * Ionic Dark Theme
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/* @import "@ionic/angular/css/palettes/dark.system.css"; */

:root {
  --ion-font-family: 'Inter', sans-serif;
  --ion-background-color: #F2F2F2;

}

ion-item{
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-style: none;
}

ion-back-button{
  --background: white;
  border: #E7E7E7 solid clamp(1px, 0.27777777777777777777777777777778vw, 4px);
  --border-radius: calc(infinity * 1px);
  border-radius: calc(infinity * 1px);
  aspect-ratio: 1/1;
  width: 12.222222222222222222222222222222vw;
  height: 12.222222222222222222222222222222vw;
  max-width: 12.222222222222222222222222222222vw;
  box-shadow: 0px 4px 6px 0px rgb(0 0 0 / 0.05);
  --icon-margin-start: 0;
}

ion-tab-bar{
  --ion-tab-bar-x-padding:  5.5555555555555555555555555555556vw;
  --ion-tab-bar-y-padding: 2.7777777777777777777777777777778vw;
  --padding: var(--ion-tab-bar-y-padding) var(--ion-tab-bar-x-padding);
  padding: var(--padding);
  --background: white;
  border-top-left-radius: var(--radius-tab);
  border-top-right-radius: var(--radius-tab);
}

ion-tab-button{
  padding-block: 1.3888888888888888888888888888889vw;
  --color-selected: var(--color-accent);
  --color: var(--color-noaccent);
  transition: all ease-in-out calc(var(--ease-tab-switch-animation-duration) - 100ms);
}
