.chat-image{
    width: 13.333333333333333333333333333333vw;
    height: 13.333333333333333333333333333333vw;
    min-width: 13.333333333333333333333333333333vw;
    min-height: 13.333333333333333333333333333333vw;
}

.padd10{
    padding: 0.69444444444444444444444444444444vw;
}

.gap10{
    gap: 2.7777777777777777777777777777778vw;
}

.header-padding{
  padding: 4.1666666666666666666666666666667vw 0;
}
