<ion-header>

  <ion-toolbar>

    <ion-title>Dashboard</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-list>
    @for (chat of chats(); track $index) {
    <ion-item [routerLink]="['/chat', 1]">

      <ion-label>chat</ion-label>
      <!-- <app-chat [imgSrc]="chat.imgSrc ?? ''" [chatName]="chat.name ?? ''" [lastMessage]="getLastMessageContent(chat)"
          [whenLastMessage]="getNowDate(chat)" [isRead]="chat.isRead" [showOnline]="true" [isOnline]="chat.isOnline"
          [lastOnMenuList]="chats().length-1 === $index" [chat]="chat"
          [isSelected]="chatService.getCurrentChatName() === chat.name" /> -->
    </ion-item>
    }
  </ion-list>
</ion-content>
