<div class="flex flex-col w-full min-h-5 h-fit section-rounded">
  @for (chat of chats(); track $index) {
  <ion-item [routerLink]="['/main/chat/', chat.id]" [detail]="false">
    <app-chat class="w-full" [imgSrc]="chat.imgSrc ?? ''" [chatName]="chat.name ?? ''"
      [lastMessage]="getLastMessageContent(chat)" [whenLastMessage]="getNowDate(chat)" [isRead]="chat.isRead"
      [showOnline]="false" [isOnline]="chat.isOnline" [lastOnMenuList]="chats().length-1 === $index" [chat]="chat"
      [isSelected]="chatService.getCurrentChatName() === chat.name" />
  </ion-item>
  }
</div>
